body {
    text-align: center;
    padding-top: 60px;
    font-family: Arial, sans-serif;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}
